[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-testing = "*"
flask-migrate = "*"
flask-cors = "*"
flask-restful = "*"
typing-extensions = "*"
flask-sqlalchemy = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.8"
